@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
  --vermelho: #ea1d2c;
  --branco-bg: #f7f7f7;
  --cinza: #717171;
  --verde: #b6d048;
  --roxo: #8c60c5;
  --amarelo: #f6d553;
  --rosa: #f9879c;
  --azul: #6bcded;
  --preto: #0e0b0b;
  --font-rubik: "Rubik", sans-serif;
  --font-abeezee: "ABeeZee", sans-serif;
  --font-courgette: "Courgette", cursive;
  --font-inter: "Inter", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#section-container {
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

#h2 {
  font-size: 17.5pt;
  text-align: center;
}

#load-gif {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

#message {
  display: none;
  text-align: center;
  padding: 20px;
  font-size: 15pt;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#btn-voltar{
    background-color: var(--vermelho);
    padding:10px;
    border-radius: 5px;
    color: #fff;
}

#btn-voltar:hover{
    background-color: #e20a19;
    transform: scale(1.1);
}

.container {
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 375px;
  height: 575px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: #eee;
  padding: 20px;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form button {
  background-color: var(--vermelho);
  font-weight: 500;
  border: none;
  width: 100%;
  padding: 5% 10%;
  text-align: center;
  color: var(--branco-bg);
  font-size: 1.5rem;
  border-radius: 10px;
  transition: all 0.4s;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form button:hover {
  cursor: pointer;
  background-color: #cd1521;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.form button:before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #f9879c, #8c60c5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  filter: blur(20px);
  opacity: 0;
  transition: 0.5s;
}

.form button:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

.form-control.sucess input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.sucess i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  color: #e74c3c;
  visibility: visible;
}
