@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

:root {
  --vermelho: #ea1d2c;
  --branco-bg: #f7f7f7;
  --cinza: #717171;
  --verde: #b6d048;
  --roxo: #8c60c5;
  --amarelo: #f6d553;
  --rosa: #f9879c;
  --azul: #6bcded;
  --preto: #0e0b0b;
  --font-rubik: "Rubik", sans-serif;
  --font-abeezee: "ABeeZee", sans-serif;
  --font-courgette: "Courgette", cursive;
  --font-inter: "Inter", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#section-container{
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: #171717;
}

.nome-principal{
  font-family: var(--font-courgette);
}

#detalhamento-container {
  width: 550px;
  height: 475px;
  background-color: rgb(255, 33, 33);
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  color: #fff;
}

#group-img {
  text-align: center;
}

#img-produto {
  height: 200px;
  width: 200px;
  background-color: var(--branco-bg);
  border-radius: 50%;
  margin: 20px 10px 10px 10px;
}

#img-produto{
  cursor: pointer;
}

.group-txt {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-family: var(--font-abeezee);
}

.column-1 {
  width: 90%;
  margin-right: 5px;
  margin-left: 5px;
}

#btn-voltar{
  background-color: var(--branco-bg);
  color:var(--preto);
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-family: var(--font-rubik);
  display: block;
  margin: 0 auto;
}

#btn-voltar:hover{
  background-color: #e9e9e9;
  cursor: pointer;
}