@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

:root {
  --vermelho: #ea1d2c;
  --branco-bg: #f7f7f7;
  --cinza: #717171;
  --verde: #b6d048;
  --roxo: #8c60c5;
  --amarelo: #f6d553;
  --rosa: #f9879c;
  --azul: #6bcded;
  --preto: #0e0b0b;
  --font-rubik: "Rubik", sans-serif;
  --font-abeezee: "ABeeZee", sans-serif;
  --font-courgette: "Courgette", cursive;
  --font-inter: "Inter", sans-serif;
}

.frase1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 84px;
  line-height: 94px;

  display: flex;
  align-items: center;
  letter-spacing: 0.035em;
}

#burguer {
  border-radius: 6px;
  height: 400px;
  width: 400px;
  margin-left: 50px;
}

.frase2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;

  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.035em;
}
#familia {
  border-radius: 6px;
  height: 200px;
  width: 200px;
  margin: 20px;
}
.frase3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 84px;
  line-height: 94px;
  /* or 112% */

  display: flex;
  align-items: center;
  letter-spacing: 0.035em;
}
#entregador {
  border-radius: 6px;
  height: 200px;
  width: 200px;
  margin: 20px;
}
#tela-cinza {
  background: #faf9f9;
}
#historia {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 80px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.035em;
}
#imagem-aluno1 {
  background: url(../assets/img/sobre/gabriel.png);
  background-repeat: no-repeat;
}
#imagem-aluno2 {
  background: url(../assets/img/sobre/sam.png);
  background-repeat: no-repeat;
}
#imagem-aluno3 {
  background: url(../assets/img/sobre/lud.png);
  background-repeat: no-repeat;
}
#imagem-aluno4 {
  background: url(../assets/img/sobre/claudio.png);
  background-repeat: no-repeat;
}

.img {
  transition: transform 0.3s;
}
.img:hover {
  transform: scale(1.2);
}
