@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');


:root {
  --vermelho: #ea1d2c;
  --branco-bg: #f7f7f7;
  --cinza: #717171;
  --verde: #b6d048;
  --roxo: #8c60c5;
  --amarelo: #f6d553;
  --rosa: #f9879c;
  --azul: #6bcded;
  --preto: #0e0b0b;
  --font-rubik: "Rubik", sans-serif;
  --font-abeezee: "ABeeZee", sans-serif;
  --font-courgette: "Courgette", cursive;
  --font-inter: "Inter", sans-serif;
  --font-monomaniac: "Monomaniac One", sans-serif;
}

/*Section Comentário*/
#section-comentario{
  position: relative;
  display: flex;
  justify-content: space-around;

}

#box-pesquisa{
  /*width: 40%;
  height: 20%;*/
  position: relative;
  width: 550px;
  height: 260px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
  background-color: #df9a41;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.result{
  position: absolute;
  left: 30px;
  font-family: "Rubik", sans-serif;
  font-size: 130%;
  color: #ffffff;

}

.img{
  position: relative;
  width: 60%;
  height: 100%;
  left: 50%;
  margin: auto;
}

.h2-card{
  position: absolute;
  font-family: "Rubik", sans-serif;
  font-weight: 550;
  left: 30px;
  top: 20%;
  color: #cc2b2b;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.p-card{
  position: absolute;
  left: 30px;
  right: 235px;
  top: 35%;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  color: #F7F7F7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#group-section{
    /*width: 40%;
    height: 20%;*/
    position: relative;
    width: 560;
    height: 260px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
    background: var(--vermelho);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#text-comentario{
    position: relative;
    left: 30px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 25px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.linha-personalizada{
    position: relative;
    width: 375px;
    height: 0px;
    left: 30px;
    top: 0px;

    border: 1.5px solid #FFFFFF;
}

.coment-group{
    display: flex;
    position: relative;
    left: 30px;
    right: 40px;
    color: #F7F7F7;
}

.coment-group h4{
    position: absolute;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    left: 60px;
    top: 20px;
    color: #F7F7F7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.coment-group #ft-usuario{
    position: relative;
    width: 50px;
    height: 51px;
    left: 0px;
    top: 3px;
}

.coment-group #icon-estrela{
    position: relative;
    width: 25px;
    height: 25px;
    left: 100px;
    top: 15px;
    margin-left: 1%;
}

#text-avaliacao{
    position: relative;
    width: 20px;
    height: 18px;
    left: 100px;
    top: 20px;
    font-family: "Rubik", sans-serif;
    color: #f6d553;
    margin-left: 1%;
}

#text-coment{
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    width: 500px;
    height: 160px;
    left: 0px;
    top: 0px;
    line-height: 20px;
    font-family: "Rubik", sans-serif;
    display: flex;
    color: #F7F7F7;
}

/*Section Anuncio*/
.img-anuncio{
    display: flex;
    justify-content:space-around;
}

#anuncio01:hover, #anuncio02:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}

#anuncio01{
    position: relative;
    width: 40%;
    height: 20%;

    top: 0px;
    margin: 3%;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#anuncio02{
    position: relative;
    width: 40%;
    height: 20%;

    top: 0px;
    margin: 3%;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Section estabelecimentos*/
.section-estabelecimentos {
  background-color: #F7F7F7;
  height: 30vh;
  width: 100%;
  border-top: 2px solid var(--branco-bg);
  margin-bottom: 10px;
  margin-top: 10px;
}

.estabelecimentos-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.blocos{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.estabelecimentos-container img:hover{
  transform: scale(1.05);
  cursor:pointer;
}

.estabelecimentos-container figure:hover figcaption{
  text-decoration: underline solid #fff;
}

.estabelecimento {
  width: 150px;
  height: 150px;
  background: #f7f7f7;
  border: 1px solid #cccccc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estabelecimento:hover {
  background: #eeeeee;
  border: 2px solid #000000;
  cursor:pointer;
}

.estabelecimento img{
  max-width: 90%;
  max-height: 90%;
}   

.h3-estabelecimentos{
  font-family: var(--font-monomaniac);
  color: #d60606;
  font-size: 25px;
  width: 50px;
  margin: 0px;
}

.manual-btn {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
